body{
	background-image: url();
}
.pokedex{
	color: white;
	width: 200px;
	height: auto;
	background: red;
	border-radius: 10px 80px 10px 10px;
}
.searchbar{
	border-radius: 10px 20px 10px 10px;
}
.centerpokedex{
	margin: auto;
  	width: 400px;
  	border: 6px solid rgb(255, 101, 101);
  	padding: 10px;
	
	
}
.centercharacter{
	margin: auto;
  	width: 20%;
  	padding: 40px 40px 20px 0px;
}
p .centercharacter{
	border: 2px white;
}
.pokeimg{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	background-color: white;
	width: 96px;
	border-radius: 50px;
	margin: 16px;
	border: 4px rgb(136, 136, 136);
}
.pokeimg:hover{
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	background-color: white;
	width: 96px;
	border-radius: 50px;
	margin: 16px;
}
