@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.pokedex{
	color: white;
	width: 200px;
	height: auto;
	background-color: rgb(230, 57, 57);
	border-radius: 10px 80px 10px 10px;
}
.searchbar{
	border-radius: 10px 20px 10px 10px;
}
.centerpokedex{
	margin: auto;
  	width: 400px;
  	border: 8px solid rgb(167, 45, 18);
  	padding: 10px;
	
	
}
.centercharacter{
	margin: auto;
  	width: 20%;
  	padding: 40px 40px 20px 0px;
}
p .centercharacter{
	border: 2px white;
}
.pokeimg{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	background-color: white;
	width: 96px;
	border-radius: 50px;
	margin: 16px;
}
.pokeimg:hover{
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	background-color: white;
	width: 96px;
	border-radius: 50px;
	margin: 16px;
}
